<style>
  body {
    background: url(https://image.freepik.com/free-vector/_43605-399.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
</style>
{% if latest_list %}
    <ul>
      <style>
         ul {
          color: red; /* Цвет символа */
          font-size: 200%; /* Размер шрифта */
         }
         a {
           color: black;
         }
      </style>
    {% for elem in latest_list %}
        <div class="created"> {{ elem.pub_date }} </div>
        <li><a href="{{ elem.url }}"> {{ elem.text }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No news are available.</p>
{% endif %}
